venv
.venv
**/**/**/**/**/**/**/**/node_modules/**
node_modules
node_modules/
node_modules/*
*/node_modules/**
*/node_modules/*
*.venv
*venv
*.zip
./sagemakercourse/DataLake/CustomerReview/customer_reviews_with_sentiment_compressed.txt.gz
*.gz
*.tar
./sagemakercourse/DataLake/CustomerReview/customer_reviews_with_sentiment_compressed.txt.gz
./sagemakercourse/DataLake/CustomerReview/customer_reviews_with_sentiment_compressed.txt.gz
./sagemakercourse/DataLake/CustomerReview/customer_reviews_with_sentiment_compressed.txt.gz
