keys
*.pub
*.pem
*.der
venv
.venv
**/**/**/**/**/**/**/**/node_modules/**
node_modules
node_modules/
node_modules/*
*/node_modules/**
*/node_modules/*
*.venv
*venv
*.zip
./sagemakercourse/DataLake/CustomerReview/customer_reviews_with_sentiment_compressed.txt.gz
*.gz
*.tar
./sagemakercourse/DataLake/CustomerReview/customer_reviews_with_sentiment_compressed.txt.gz
./sagemakercourse/DataLake/CustomerReview/customer_reviews_with_sentiment_compressed.txt.gz
./sagemakercourse/DataLake/CustomerReview/customer_reviews_with_sentiment_compressed.txt.gz
./sagemakercourse/DataLake/CustomerReview/customer_reviews_with_sentiment_compressed.txt.gz
./.git/objects/pack/pack-0e7b518b071f87b43bd8915a18f3ce486443bfd8.pack
